body {
    font-family: Arial, sans-serif;
    background-color: #e8e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.log-container {
    background-color:#8fe3b8;
    padding: 20px; 
    border-radius: 10px; 
box-shadow: #333;
    max-width: 400px; 
    width: 90%;
    color: black;
}

h2 {
    color: #333;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column; /* Organizar elementos en columna */
}

.form-group {
    margin-bottom: 15px; /* Espacio entre grupos de formulario */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espacio debajo de los inputs */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
    font-size: 14px; /* Tamaño de fuente */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Color del borde al hacer foco */
    outline: none; /* Sin contorno adicional */
}

button[type="submit"] {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar cursor al pasar */
    transition: background-color 0.3s; /* Transición suave para el color */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}

p {
    text-align: center; /* Centrar texto */
}
